body {
  margin: 0;
  box-sizing: border-box;
  background-color: #f0f0f0;
}

nav {
  display: flex;
  flex-direction: row;
  padding: 0 50px;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: white;
}

nav section {
  display: flex;
}

.navLogoTitle {
  font-size: 30px;
  color: black;
  font-family: sans-serif;
  font-weight: bold;
}

nav div {
  font-size: 15px;
  color: black;
  font-family: sans-serif;
  display: flex;
  padding: 0 10px;
}
nav div:hover {
  color: #545454;
  font-weight: bold;
}

.articleSectionStyle {
  height: 200px;
  background-color: green;
}

.articleCardStyle {
  width: 200px;
  height: 250px;
  padding: 10px;
  background-color: purple;
}

.highlightSectionStyle {
  height: 300px;
  background-color: blue;
}
